
:root{
    --verdeRestaurante: #0B6E4F;
    --colorTextFooter: #85868C;
    --negroFooter :rgb(26, 28, 32);
    --anchoSitioWeb: 1200px;
    --backgroundSeccion:rgba(0, 0, 0, 0.04);
    --backgroundOpcion : white;
    --colorSubtituloOpcion: #85868C;
    --backgroundColorContactanos: #148BA9;
    --widthBloqueContenido :65%;
}

.contenedor {
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    transition: top 0.7s ease-in-out, opacity 0.5s ease-in-out;
    padding: 0px;
    margin: 0px auto;
}

code {
    font-family: 'Poppins', Helvetica, Arial, Verdana, sans-serif;
}

.botonDataTable{
    background-color: var(--verdeRestaurante);
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a.page-link,li.paginate_button.page-item.inactive{
    background-color: var(--verdeRestaurante) !important;
    color: white;
}

a.page-link:hover,li.paginate_button.page-item.inactive:hover{
    color: white;
    font-size: 17px;
    transition: 1s;
}