.checkBox{
    border-top:1px dashed grey;
    width: 100%;
}

.checkBox input{
    max-width: 20px;
}

.bloquePermiso {
    display: flex;
    align-items: center;
    min-width: 140px !important;
    padding: 5px;
}
.checkBox input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
