/*USUARIO PERFIL*/


.contenido_bloque_Usuario {
    cursor: pointer;
}

.bloque_Usuario h3 {
    cursor: pointer;
    text-align: center;
    width: 200px;
}

.bloque_Usuario ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: -90px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 5px;
}

.bloque_Usuario ul li a {
    text-decoration: none;
    color: var(--azulCoespe);
    padding: 10px;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.bloque_Usuario ul li a:hover {
    font-weight: 500;
}

.bloque_Usuario ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--azulCoespe);
    font-size: 14px;
    margin: 0px;
    padding: 10px;
    text-decoration: none;
}

.bloque_Usuario ul li button:hover {
    font-weight: 500;
}

.bloque_Usuario ul li:last-child a {
    border-bottom: none;
}

.bloque_Usuario ul {
    display: block;
}

.bloque_Usuario ul {
    display: block;
}